@charset "UTF-8";
/* CSS Document */

/**/

html {
  /*scroll-behavior: smooth;*/
}

body{
  box-sizing: content-box;
  font-family: 'Work Sans', sans-serif;

}



*:focus {
    outline: 0 !important;
}

a:hover {
    text-decoration: none;
}


.link-home p {
  transition: all .2s ease-in-out;
}

.link-home:hover p {
  color: #d5d5d5;
}







.btn:focus{
  color: white;
  outline: none;
  outline-offset: 0px;
}

.section-service{
      margin-left: 70px;
}

label#name-error{
  color: red;
  background: darkgrey;
}
label#num-error{
  color: red;
  background: darkgrey;
}

label#emailBottom-error{
  color: red;
  background: darkgrey;
}

label#area-error{
    color: red;
    background: darkgrey;
}

label#comment-error{
  color: red;
    background: darkgrey;
}


label#email-error {
    position: absolute;
    color: red;
    background: darkgrey;
    margin-top: 67px;
}

label#pwd-error {
    position: absolute;
     color: red;
    background: darkgrey;
    margin-left: 22%;
    margin-top: 67px;

}

label#enquiry2-error {
    position: absolute;
    color: red;
    background: darkgrey;
    margin-top: 67px;
    margin-left: 432px;

}




.navbar-default {   background-color:#FFFFFF;
                    margin-bottom:0px;
					border:none;
					border-radius:0px;
					height:auto;
					position:relative;
					padding-top:7px;
					padding-bottom:6px;
                    }

.navbar-brand {
padding-top:10px;}

.img1
{ display:inline-block;
margin-top:-15px;
margin-right:25px;
}

.fa-phone{
    display:none;
  }
  .fa-envelope{
    display:none;
  }



.span1 {
    font-size: 23px;
    color: #1F1F1F;
    font-weight: bolder!important;
    letter-spacing: 1.5px;
    font-family: Work Sans;
    height: 42px;
    display: flex;
    align-items: center;
}

.btn3
{
  background-color:#000F8B;
  color:#fff;
  border-radius:0px;
  padding:10px 25px 10px 25px;
  font-size:16px;
  font-weight:400;
  letter-spacing:1px;
  font-family:Work Sans;
  margin-top:6px;
  transition: all .2s ease-in-out;
}

.btn3:hover
{
  background-color:#0016cf;
  color:#fff;
}



.navbar-default .navbar-toggle .icon-bar {
    background-color: white!important;
}



.form-space{
  padding-right:30px;
  padding-left:70px;
}




@media (max-width:768px) {

.h1a { font-size:45px;}


}

@media (min-width:768px) {

.default2 { display:none;}

}




.container-fluid.first { background-image:url(Img/Gas%20Hob.png);
                         background-repeat:no-repeat;
						 background-position:center;
						 background-size:cover;
                         height:auto;
						 padding-top:90px;
						 padding-bottom:30px;

						 }

.h1a { color:#FFF;
       font-size:58px;
	   font-family:Work Sans;
	   font-weight:bolder;
	   margin:0px;}

.p2 { color:#FFFFFF;
      font-size:15px;
	  margin-left:100px;
	  margin-right:100px;
	  margin-top:20px;}


	/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-top:40px;
}


/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 1px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  width:215px;
  font-family:Work Sans;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: #027BF6;
  border: 1px solid #ddd;
  color: white;
  font-size:14px;
  font-family:Work Sans;
  transition: all .2s ease-in-out;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
	 width:400px;
  font-family:Work Sans;
  }

  .form-inline {
    flex-direction: column;
    align-items: center;
  }
}


.p1
{font-size:16px;
font-weight:500;
font-family:Work Sans;
color:#ffffff;
padding-top:40px;
padding-bottom:10px;
display:inline-block;
margin:auto;
margin-left:30px;
letter-spacing:1px;
margin-right:7px;
}


.img2
{ display:inline-block;
margin:auto;
}

.second
{ background-color:#EBEBEB;
padding-top:50px;
padding-bottom:40px;
}

.p4
{font-size:25px;
font-weight:bloder;
font-family:Work Sans;
color:#8E8E8E;
display:inline-block;
margin:auto;
margin-left:10px;
}


.img4
{ display:inline-block;
margin:auto;
margin-bottom:8px;
}





.h2a
{ font-size:35px;
font-weight:bolder;
font-family:Work Sans;
text-align:left;
margin-bottom:50px;


}

.third
{ padding-top:100px;
padding-bottom:130px;
}


.p3
{ font-size:24px;
font-weight:100;
font-family:Work Sans;
text-align:left;
padding-bottom:20px;

}


.btn4
{
  background-color:#000F8B;
  color:#fff;
  border-radius:0px;
  padding:10px 30px 10px 30px;
  font-size:15px;
  font-weight:400;
  letter-spacing:1px;
  margin-top:70px!important;
  font-family:Work Sans;
  margin:auto;
  display:block;
  transition: all .2s ease-in-out;
}

.btn4:hover
{
  background-color:#0016cf;
  color:#fff;
}


.forth
{ background-image:url(Img/Institu%20image%20GCFH%20on%20House.png);
background-repeat:no-repeat;
background-position:center;
background-size:cover;
height:505px;
}


.five { background-color:#1F1F1F;
         padding-top:80px;
		 padding-bottom:120px;}


.h1c { color:white;
        text-align:center;
		font-size:42px;}

.p6 { font-size:14px;
letter-spacing:0.3px;
     text-align:center;
	 color:#999;
	 margin-top:20px;
	 margin-bottom:50px;}

.h1-num { color:#027BF6;
          font-size:60px;
		  font-weight:bolder;
		  }

.h3-head { color:white; font-size:22px;}

.p7 { color:#CCC;
      margin-top:20px;
	  font-size:12px;
	  letter-spacing:1px;
	  padding-right:56px;
	  line-height:25px;}


.p9 { color:white;
      font-size:15px;
	  margin-top:20px;
	  text-transform:uppercase;
    transition: all .2s ease-in-out;
  }

.p9:hover {
  color: #d5d5d5;
}

.six
{ padding-top:60px;
padding-bottom:110px;
}

.h1b
{  font-family:Work Sans;
margin-top:40px;
font-weight:900;
letter-spacing:1px;
font-size:39px;
color:#1F1F1F;
}



.btn5
{
  background-color:#000F8B;
  color:#fff;
  border-radius:0px;
  padding:10px 40px 10px 40px;
  font-size:16px;
  font-weight:400;
  letter-spacing:1px;
  margin-top:60px;
  font-family:Work Sans;
  transition: all .2s ease-in-out;
}

.btn5:hover
{
  background-color:#0016cf;
  color:#fff;
}



.seven{ padding-top:80px;
	  padding-bottom:80px;
	  background-image:   linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(Img/regency%20Fire%20Place.png);
	  background-position:center;
	  background-repeat:no-repeat;
	  background-size:cover;
	  height:auto;
	}



	.input-group { margin-top:10px; display:block;}

.form-control.aa { font-size:14px;
			   padding-top:20px;
			   padding-bottom:20px;
			   padding-left:15px;
			   color:black!important;
			   border:none;
			   background-color:white;
			   letter-spacing:1px;
			   border-radius:5px!important;
			   }

.form-control:focus { outline:none!important;
				  box-shadow:none;
				  }

.h111
{   font-weight:900!important;
    font-size: 25px;
    color: #FFFFFF;
    text-align:left;
    text-transform: none;
	letter-spacing: 1px;
	font-family:Work Sans;
	margin-bottom:30px;
}

.p8
{ text-align:left;
font-size:17.5px;
color:#DEDEDE;
font-family:Work Sans;
margin-bottom:30px;
}

.btn1 { display:block!important;
        width:100%;
		background-color:#027BF6;
		color:white;
		text-transform:uppercase;
		padding-top:10px;
		padding-bottom:10px;
		border-radius:0px;
		margin-top:20px;
    transition: all .2s ease-in-out;
		}


.btn1:hover {
  background-color:#2e95fd;
  color:white;
}



.h1d
{ color: #FFFFFF;
text-align:left;
font-weight:900;
text-transform: none;
font-size: 35px;
line-height:45px;
}


.p5
{ font-size:13px;
text-align:left;
color:#FFFFFF;
letter-spacing:1px;
margin-top:30px;
line-height:27px;
}




.footer { background-color:#ffffff;
            padding-top:80px;
			padding-bottom:70px;}

.h4aa {
	   margin-top:10px;
	   font-size: 17px;
       letter-spacing: 1px;
       color:#000F8B;
	   font-weight:bolder;
	   text-transform:uppercase;}


.ul2 { list-style-type:none;
       padding:5px;}

.ul2 > li { margin-top:10px;
            text-decoration:none;
          font-size: 13px;
    font-weight: 500;
    letter-spacing: .05em;
    line-height: 25px;
    color: #1F1F1F;}

.ul2 > li > a { text-decoration:none!important;
color:#1F1F1F;
				}

.ul2 > li:hover { color:#000000;}


.img5 {

   padding:10px;
    border:1px solid #000F8B;
		border-radius:100px;
		margin-left:10px;
		margin-top:30px;
    width: 40px;
    height: 38px;
    transition: all .2s ease-in-out;
  }

.img5:hover {
  transform: scale(1.2);
}
/**  Footer end **/


@media only screen and (max-width:800px) {

  h1.h1a{
      font-size: 42px;
  }

  p.p2 {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
  }

  .fa-phone{
    display:block;
    float: right;
    margin-right: 30px;
  }
  .fa-envelope{
    display:block;
    padding: 6px;
  }
  .btn3{
    display: none;
  }
  span.span1{
    display: none;
  }

  .branding{
    display: flex;
  }

  p.p3{
    font-size: 18px;
  }




  p.p4 {
    font-size: 19px;
  }

  .mobile-service{
    margin-bottom: 65px;
  }

  .mobile-hide{
    display: none;
  }

  .mobile-format{
    text-align: center;
  }

  .logo-center{
     display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p.p6{
    color:#ccc;
  }

  .relative-form{
    position: relative;
  }

  p.p7{
    padding-right: 0px;
  }

  label#pwd-error{
    position: relative;
    top: -6.5em;
    left: -9em;
    margin: 0;
  }




  label#email-error {
    position: relative;
    top: 5.2em;
    left: -9em;
    margin: 0;
  }

  label#enquiry2-error {
    position: relative;
    top: -0.8em;
    left: -9em;
    margin: 0;
  }

  .form-space {
    padding-left:15px;
  }

  .section-service {
     margin-left: 0px;
  }


}

@media (max-width:1200px) and (min-width:800px) {

  .span1 {
    margin-left: -148px;
  }

  .btn3 {
    display: block;
    margin-left: -70px;
  }

  .navbar-header {
    float: left;
    width: 170%;
  }

  .fa-phone{
    display:none;
  }
  .fa-envelope{
    display:none;
  }
  .btn3{
    display: block;
  }



  label#pwd-error {
    position: relative;
    top: -5.5em;
    left: -16em;
    margin: 0;
  }


  label#email-error {
    position: relative;
    top: 4.8em;
    left: -16em;
    margin: 0;
  }


  label#enquiry2-error {
    position: relative;
    top: -0.4em;
    left: -16em;
    margin: 0;
  }

  .form-inline {
    display: flex;
    flex-direction: column;
  }

  .form-inline input {
    width: 100%;
  }

}​

/*@media only screen and (min-width: 800px) {

  .fa-phone{
    display:none;
  }
  .fa-envelope{
    display:none;
  }
  .btn3{
    display: block;
  }



  label#pwd-error{
    position: relative;
    top: -6.5em;
    left: -9em;
    margin: 0;
  }


  label#email-error {
    position: relative;
    top: 5.2em;
    left: -9em;
    margin: 0;
  }

  label#enquiry2-error {
    position: relative;
    top: -0.8em;
    left: -9em;
    margin: 0;
  }


}*/


